html
    head 
        title= title 

    body 
        
        header 
            p= nomClient
            form(action="/deconnexion", method="get") 
                input(type="submit", value="Se déconnecter")  
            a(href="/accueil")= "Accueil" 
            a(href="/transactions")= "Voir mes transactions"
            a(href="/cartes")= "Modifier carte de paiement"
            if client['vendeur'] == true
                a(href="")= "Modifier vos produits"
                
        h1= "Liste des produits :"
        br
        each prod in produits
            div.produit 
                a(href="/prod/"+prod['id'])
                    img(src=prod['photo'], alt="Image du produit manquante")
                    h2= prod['nom']
                    h2= prod['prix'] + " €"

        footer
            p= "&copy; 2021 - Gallet Benjamin"