html
    head 
        title= title 
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/accueil.css")
        link(rel="stylesheet", href="../css/header_footer.css")

    body 
        header 
            h1=" TP MarketPlace"
            p= "Bonjour "+client["prenom"]+" "+client["nom"]
            form(action="/deconnexion", method="get") 
                input(type="submit", value="Se déconnecter")  
            a(href="/accueil")= "Accueil" 
            a(href="/transactions")= "Voir mes transactions"
            a(href="/cartes")= "Modifier carte de paiement"
            if client['vendeur'] == true
                a(href="/modifProduits")= "Modifier vos produits"
                
        h1= "Liste des produits :"
        br
        each prod in produits
            a(href="/prod/"+prod['id']) 
                div.produit
                    img(src=prod['photo'], alt="Image du produit manquante")
                    h2= prod['nom']
                    h2.prix= prod['prix'] + " €"

        footer
            p= "Copyright © 2021 - Gallet Benjamin"