html
    head 
        title= "Connexion" 
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/connexion.css")
        link(rel="stylesheet", href="../css/header_footer.css")

    body  
        header
            h1=" TP MarketPlace"
        if erreur  
            h1= erreur 
        form(action="/connexion", method="post")
            div.id
                label(for="log")= "Identifiant :"
                input(type="text", name="log", id="log")
            div.mdp
                label(for="pass")= "Mot de passe :"
                input(type="password", name="pass", id="pass")    
            div.sub
                input(type="submit", value="Se connecter")
            div.creerCompte
                p= "Si vous n'avez pas de compte : "
                    a(href="/creerCompte")= "Créer un compte" 

        footer 
            p= "Copyright © 2021 - Gallet Benjamin"