html
    head 
        title= "Créer un compte" 
        meta(charset='utf-8')
        link(rel="stylesheet", href="../css/creerCompte.css")
        link(rel="stylesheet", href="../css/header_footer.css")

    body 
        header 
            h1= "TP MarketPlace"
            a(href="/")= "Connexion" 
        form(action="/creer", method="post")
            div
                label(for="log")= "Identifiant :"
                input(type="text", name="log", id="log")
            div
                label(for="pass")= "Mot de passe :"
                input(type="password", name="pass", id="pass")   
            div
                label(for="nom")= "Nom :"
                input(type="text", name="nom", id="nom")
            div   
                label(for="pnom")= "Prénom :"
                input(type="text", name="pnom", id="pnom")
            div
                label(for="vendeur")= "Compte Vendeur ? "

                label(for="true")= "oui"
                input(type="radio", name="vendeur", id="true", value="true", onclick="document.getElementById('ifVendeur').style.display = 'block';")
                label(for="false")= "non"   
                input(type="radio", name="vendeur", id="false", value="false", onclick="document.getElementById('ifVendeur').style.display = 'none';")

            div(id="ifVendeur", style="display: none;")
                label(for="nomBoutique")= "Nom de la boutique :"
                input(type="text", name="nomBoutique", id="nomBoutique")

            input(type="submit", value="Créer mon compte")


        footer 
            p= "Copyright © 2021 - Gallet Benjamin"